*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
:root{
    --white:#f5f5f5;
}
body{
    /* font-size: 1.1rem; */
    display: flex;
    flex-direction: column;
    background-color: #da0000;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    color: var(--white);
}
.card-group{
    margin-top: 10px;
    margin-bottom: 10px;
    /* display: inline-block; */
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: ; */
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #00be00;
    border: 10px var(--white) solid;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    transition: .5s;
    padding: 15px;
    max-height: 200px;  
    /* margin: 20px; */
    
}

.card:hover{
    border-radius: 20px;
    width: 400px;
    /* height: 150px; */
    max-height:999999999999999999999999999999999999999999999999px;
    padding: 50px;
}
.card h1{
    position: relative;
    top: 0;
    /* left: 30%; */
    transition: 1s;
    opacity: 100;
}
.card:hover h1{
    top: -30px;
    left: 0;
}

.card .content{
    position: relative;
    overflow: hidden;
    /* margin-top: 50px; */
    opacity: 0;
    /* display: none; */
    /* width: 0px; */
    top: 200px;
    height: 0px;
    /* width: 20px; */
    transition: 1s;
    /* background-color: aquamarine; */
}
ul{
    list-style: disc;
    display: flex;
    flex-direction: column;
    list-style-position:inside;
    gap: 10px;
    /* margin: 50px; */

}
.card:hover .content{
    overflow: hidden;
    opacity: 100;
    /* padding: 50px; */
    /* display: none; */
    height: max-content;
    top: 0;

}

@media (max-width:980px) {
    body{
        font-size: 2.5rem;
    }
    .card{
        transition: 1s;
        width: 400px;
        height: 400px;
        max-height: 4000000000px;

    }
    .card:hover{
        height: 980px;
        /* width: 200px; */
    }
    
}